{# ezauthor #}

{%- block ezrepoforms_fieldtype_ezauthor_row -%}
    {% if form.authors.vars.prototype is defined %}
        {%- set row_attr = row_attr|default({})|merge({'data-prototype': form_row(form.authors.vars.prototype) }) -%}
    {% endif %}
    {{ block('form_row') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_widget -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_widget -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_row -%}
    {{- form_widget(form) -}}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_widget -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_widget -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_entry_row -%}
    {{- block('ezrepoforms_fieldtype_ezauthor_authors_entry_widget') -}}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_entry_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_entry_widget -%}
    <div class="form-row rounded ez-author-row">
        {% set row_attr = row_attr|default({})|merge({'class': row_attr.class|default('') ~ ' col'|trim}) %}
        {#{{ block('form_rows') }}#}
        {% for child in form %}
            {{ form_row(child, {'row_attr': row_attr}) }}
        {% endfor %}
        <div class="ez-author-tools col">
            <button type="button" disabled class="ez-button btn btn-icon btn-secondary ez-button-secondary ez-js-remove-author">
                <svg class="ez-icon ez-icon-trash">
                    <use xlink:href="{{ asset('bundles/ezplatform/img/ez-icons.svg') }}#trash"></use>
                </svg>
            </button>
            <button type="button" class="ez-button btn btn-icon btn-secondary ez-button-secondary ez-js-add-author">
                <svg class="ez-icon ez-icon-create">
                    <use xlink:href="{{ asset('bundles/ezplatform/img/ez-icons.svg') }}#create"></use>
                </svg>
            </button>
        </div>
    </div>
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_entry_widget -%}
