<div class="ezstring-validator min-length">
    {{ form_label(form.minLength) }}
    {{ form_errors(form.minLength) }}
    {{ form_widget(form.minLength) }}
</div>

<div class="ezstring-validator max-length">
    {{ form_label(form.maxLength) }}
    {{ form_errors(form.maxLength) }}
    {{ form_widget(form.maxLength) }}
</div>

<div class="ezstring-default-value">
    {{ form_label(form.defaultValue) }}
    {{ form_errors(form.defaultValue) }}
    {{ form_widget(form.defaultValue) }}
</div>
