{# Template blocks to be used for fieldDefinition edition #}
{# Block naming convention is <fieldTypeIdentifier>_field_definition_edit #}
{# Following variables are passed:
 # - \EzSystems\RepositoryForms\Data\FieldDefinitionData data Data object for current fieldDefinition.
 # - \Symfony\Component\Form\FormView form Field definition form.
 # - string languageCode
 #}

{# @var data \EzSystems\RepositoryForms\Data\FieldDefinitionData #}
{# @var form \Symfony\Component\Form\FormView #}
{% block ezbinaryfile_field_definition_edit %}
    <div class="ezbinaryfile-validator max-file-size">
        {{- form_label(form.maxSize) -}}
        {{- form_errors(form.maxSize) -}}
        {{- form_widget(form.maxSize) -}}
    </div>
{% endblock %}

{% block ezcountry_field_definition_edit %}
    <div class="ezcountry-settings is-multiple">
        {{- form_label(form.isMultiple) -}}
        {{- form_errors(form.isMultiple) -}}
        {{- form_widget(form.isMultiple) -}}
    </div>

    <div class="ezcountry-default-value">
        {{- form_label(form.defaultValue) -}}
        {{- form_errors(form.defaultValue) -}}
        {{- form_widget(form.defaultValue) -}}
    </div>
{% endblock %}

{% block ezdate_field_definition_edit %}
    <div class="ezdate-settings default-type">
        {{- form_label(form.defaultType) -}}
        {{- form_errors(form.defaultType) -}}
        {{- form_widget(form.defaultType) -}}
    </div>
{% endblock %}

{% block ezfloat_field_definition_edit %}
    <div class="ezfloat-validator min-value">
        {{- form_label(form.minValue) -}}
        {{- form_errors(form.minValue) -}}
        {{- form_widget(form.minValue) -}}
    </div>

    <div class="ezfloat-validator max-value">
        {{- form_label(form.maxValue) -}}
        {{- form_errors(form.maxValue) -}}
        {{- form_widget(form.maxValue) -}}
    </div>
{% endblock %}

{% block ezimage_field_definition_edit %}
    <div class="ezimage-validator max-file-size">
        {{- form_label(form.maxSize) -}}
        {{- form_errors(form.maxSize) -}}
        {{- form_widget(form.maxSize) -}}
    </div>
{% endblock %}

{% block ezinteger_field_definition_edit %}
    <div class="ezinteger-validator min-value">
        {{- form_label(form.minValue) -}}
        {{- form_errors(form.minValue) -}}
        {{- form_widget(form.minValue) -}}
    </div>

    <div class="ezinteger-validator max-value">
        {{- form_label(form.maxValue) -}}
        {{- form_errors(form.maxValue) -}}
        {{- form_widget(form.maxValue) -}}
    </div>
{% endblock %}

{% block ezisbn_field_definition_edit %}
    <div class="ezisbn-settings is-isbn13">
        {{- form_label(form.isISBN13) -}}
        {{- form_errors(form.isISBN13) -}}
        {{- form_widget(form.isISBN13) -}}
    </div>
{% endblock %}

{% block ezmedia_field_definition_edit %}
    <div class="ezmedia-validator max-file-size">
        {{- form_label(form.maxSize) -}}
        {{- form_errors(form.maxSize) -}}
        {{- form_widget(form.maxSize) -}}
    </div>

    <div class="ezmedia-settings media-type">
        {{- form_label(form.mediaType) -}}
        {{- form_errors(form.mediaType) -}}
        {{- form_widget(form.mediaType) -}}
    </div>
{% endblock %}

{% block ezpage_field_definition_edit %}
    <div class="ezpage-settings default-layout">
        {{- form_label(form.defaultLayout) -}}
        {{- form_errors(form.defaultLayout) -}}
        {{- form_widget(form.defaultLayout) -}}
    </div>
{% endblock %}

{% block ezrichtext_field_definition_edit %}
    <div class="ezrichtext-settings num-rows">
        {{- form_label(form.numRows) -}}
        {{- form_errors(form.numRows) -}}
        {{- form_widget(form.numRows) -}}
    </div>
{% endblock %}

{% block ezselection_field_definition_edit %}
    <div class="ezselection-settings is-multiple">
        {{- form_label(form.isMultiple) -}}
        {{- form_errors(form.isMultiple) -}}
        {{- form_widget(form.isMultiple) -}}
    </div>

    <div class="ezselection-settings options">
        {{ form_label(form.options) }}
        {{ form_errors(form.options) }}
        {% for option in form.options %}
            <div>
                {{ form_errors(option) }}
                {{ form_widget(option) }}
            </div>
        {% endfor %}
        {# This field is used for adding new select items #}
        {{ form_widget(form.options.vars.prototype) }}
    </div>
{% endblock %}

{% block ezstring_field_definition_edit %}
    <div class="ezstring-validator min-length">
        {{- form_label(form.minLength) -}}
        {{- form_errors(form.minLength) -}}
        {{- form_widget(form.minLength) -}}
    </div>

    <div class="ezstring-validator max-length">
        {{- form_label(form.maxLength) -}}
        {{- form_errors(form.maxLength) -}}
        {{- form_widget(form.maxLength) -}}
    </div>

    <div class="ezstring-default-value">
        {{- form_label(form.defaultValue) -}}
        {{- form_errors(form.defaultValue) -}}
        {{- form_widget(form.defaultValue) -}}
    </div>
{% endblock %}

{% block eztext_field_definition_edit %}
    <div class="eztext-settings text-rows">
        {{- form_label(form.textRows) -}}
        {{- form_errors(form.textRows) -}}
        {{- form_widget(form.textRows) -}}
    </div>
{% endblock %}

{% block eztime_field_definition_edit %}
    <div class="eztime-settings use-seconds">
        {{- form_label(form.useSeconds) -}}
        {{- form_errors(form.useSeconds) -}}
        {{- form_widget(form.useSeconds) -}}
    </div>

    <div class="eztime-settings default-type">
        {{- form_label(form.defaultType) -}}
        {{- form_errors(form.defaultType) -}}
        {{- form_widget(form.defaultType) -}}
    </div>
{% endblock %}
