{# Template blocks to be used for fieldDefinition edition #}
{# Block naming convention is <fieldTypeIdentifier>_field_definition_edit #}
{# Following variables are passed:
 # - \EzSystems\RepositoryForms\Data\FieldDefinitionData data Data object for current fieldDefinition.
 # - \Symfony\Component\Form\FormView form Field definition form.
 # - string languageCode
 #}

{# @var data \EzSystems\RepositoryForms\Data\FieldDefinitionData #}
{# @var form \Symfony\Component\Form\FormView #}
{% block ezfloat_field_definition_edit %}
    <div class="ezfloat-validator min-value">
        {{- form_label(form.minValue) -}}
        {{- form_errors(form.minValue) -}}
        {{- form_widget(form.minValue) -}}
    </div>

    <div class="ezfloat-validator max-value">
        {{- form_label(form.maxValue) -}}
        {{- form_errors(form.maxValue) -}}
        {{- form_widget(form.maxValue) -}}
    </div>
{% endblock %}

{% block ezinteger_field_definition_edit %}
    <div class="ezinteger-validator min-value">
        {{- form_label(form.minValue) -}}
        {{- form_errors(form.minValue) -}}
        {{- form_widget(form.minValue) -}}
    </div>

    <div class="ezinteger-validator max-value">
        {{- form_label(form.maxValue) -}}
        {{- form_errors(form.maxValue) -}}
        {{- form_widget(form.maxValue) -}}
    </div>
{% endblock %}

{% block ezisbn_field_definition_edit %}
    <div class="ezisbn-settings is-isbn13">
        {{- form_label(form.isISBN13) -}}
        {{- form_errors(form.isISBN13) -}}
        {{- form_widget(form.isISBN13) -}}
    </div>
{% endblock %}

{% block ezstring_field_definition_edit %}
    <div class="ezstring-validator min-length">
        {{- form_label(form.minLength) -}}
        {{- form_errors(form.minLength) -}}
        {{- form_widget(form.minLength) -}}
    </div>

    <div class="ezstring-validator max-length">
        {{- form_label(form.maxLength) -}}
        {{- form_errors(form.maxLength) -}}
        {{- form_widget(form.maxLength) -}}
    </div>

    <div class="ezstring-default-value">
        {{- form_label(form.defaultValue) -}}
        {{- form_errors(form.defaultValue) -}}
        {{- form_widget(form.defaultValue) -}}
    </div>
{% endblock %}

{% block eztext_field_definition_edit %}
    <div class="eztext-settings text-rows">
        {{- form_label(form.textRows) -}}
        {{- form_errors(form.textRows) -}}
        {{- form_widget(form.textRows) -}}
    </div>
{% endblock %}
