{# @var value \EzSystems\RepositoryForms\Data\FieldDefinitionData #}
{% block form_row %}
    <div class="field-definition-edit field-type-{{ value.fieldTypeIdentifier }}">
        <h3>
            {{ form_widget(form.selected) }}
            {{ value.names[languageCode] }} [{{ value.fieldTypeIdentifier }}] (id: {{ value.fieldDefinition.id }})
        </h3>

        <div class="field-definition-position{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.position) }}
            {{ form_errors(form.position) }}
            {{ form_widget(form.position) }}
        </div>

        <div class="field-definition-name{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="field-definition-identifier{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.identifier) }}
            {{ form_errors(form.identifier) }}
            {{ form_widget(form.identifier) }}
        </div>

        <div class="field-definition-description{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        <div class="field-definition-isRequired{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.isRequired) }}
            {{ form_errors(form.isRequired) }}
            {{ form_widget(form.isRequired) }}
        </div>

        <div class="field-definition-isSearchable{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.isSearchable) }}
            {{ form_errors(form.isSearchable) }}
            {{ form_widget(form.isSearchable) }}
        </div>

        <div class="field-definition-isTranslatable{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.isTranslatable) }}
            {{ form_errors(form.isTranslatable) }}
            {{ form_widget(form.isTranslatable) }}
        </div>

        <div class="field-definition-fieldGroup{% if group_class is not empty %} {{ group_class }}{% endif %}">
            {{ form_label(form.fieldGroup) }}
            {{ form_errors(form.fieldGroup) }}
            {{ form_widget(form.fieldGroup) }}
        </div>

        {# Field type specific fields below #}
        {# Use field type config, if provided. #}
        {{ ez_render_fielddefinition_edit(value, {"languageCode": languageCode, "form": form, "group_class": group_class|default("")}) }}
        {# Default rendering #}
        {% for child in form %}
            {# Iterable children means collections, they are handled in field_types.html.twig #}
            {% if not child.rendered and child is not iterable %}
                <div{% if group_class is not empty %} class="{{ group_class }}"{% endif %}>
                    {{- form_label(child) -}}
                    {{- form_errors(child) -}}
                    {{- form_widget(child) -}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block datetimeinterval_widget %}
    {% for child in form %}
        <div>
            {{- form_label(child) -}}
            {{- form_errors(child) -}}
            {{- form_widget(child) -}}
        </div>
    {% endfor %}
{% endblock %}
