{% extends 'form_div_layout.html.twig' %}

{# Important overrides to hide labels and errors on some structural fields #}

{%- block ezrepoforms_content_field_row -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_content_field_row -%}

{%- block _ezrepoforms_user_register_fieldsData_entry_row -%}
    {% if form.children.value is defined %}
        {{- form_row(form) -}}
    {% else %}
        <div class="ez-field-edit ez-field-edit-{{ form.vars.value.fieldDefinition.fieldTypeIdentifier }}">
            <div class="ez-field-edit-text-zone">
                {{ form_label(form) }}
                {{ form_errors(form) }}
            </div>
            <div class="ez-field-edit-ui">
                <p class="non-editable">
                    {{ "content.field.non_editable"|trans({}, "ezrepoforms_content") }}
                </p>
            </div>
        </div>
        {%- do form.setRendered() -%}
    {% endif %}
{%- endblock _ezrepoforms_user_register_fieldsData_entry_row -%}

{%- block _ezrepoforms_content_edit_fieldsData_widget -%}
    {% for field in form %}
        {% if field.value is defined %}
            {{- form_row(field) -}}
        {% else %}
            <div class="ez-field-edit ez-field-edit-{{ field.vars.value.fieldDefinition.fieldTypeIdentifier }}">
                <div class="ez-field-edit-text-zone">
                    {{ form_label(field) }}
                    {{ form_errors(field) }}
                </div>
                <div class="ez-field-edit-ui">
                    <p class="non-editable">
                        {{ "content.field.non_editable"|trans({}, "ezrepoforms_content") }}
                    </p>
                </div>
            </div>
            {%- do field.setRendered() -%}
        {% endif %}
    {% endfor %}
{%- endblock _ezrepoforms_content_edit_fieldsData_widget -%}

{# General form theming #}

{%- block form_row -%}
    {% set is_fieldtype = form.parent.vars.value.fieldDefinition is defined %}
    {% set class_prefix = 'field-edit' %}

    {% if is_fieldtype is same as(false) %}
        {% set class_prefix = 'sub-field' %}
    {% endif %}
    {%- set row_classes -%}
        {% spaceless %}
            ez-{{ class_prefix }}
            {%- if is_fieldtype %} ez-field-edit-{{ form.parent.vars.value.fieldDefinition.fieldTypeIdentifier }}{% else %} ez-sub-field-{{ form.vars.name }}{% endif -%}
            {%- if required %} ez-{{ class_prefix }}-required{% endif -%}
            {%- if disabled %} ez-{{ class_prefix }}-disabled{% endif -%}
        {% endspaceless %}
    {%- endset -%}

    <div class="{{ row_classes }}">
        <div class="ez-{{ class_prefix }}-text-zone">
            {{ form_label(form) }}
            {{ form_errors(form) }}
        </div>
        <div class="ez-{{ class_prefix }}-ui">
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock form_row -%}

{%- block form_label -%}
    {# Based on default Symfony label. Removed "required" class. #}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_errors -%}
    {%- for error in errors if errors|length > 0 -%}
        <em class="ez-field-edit-error">{{ error.message }}</em>
    {%- endfor -%}
{%- endblock form_errors -%}

{%- block form_widget_compound -%}
    <fieldset {{ block('widget_container_attributes') }}>
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </fieldset>
{%- endblock form_widget_compound -%}

{# Enrichements to default Symfony types #}

{%- block number_widget -%}
    {%- set type = type|default('number') -%}
    {{ parent() }}
{%- endblock number_widget -%}

{# ezauthor #}

{%- block ezrepoforms_fieldtype_ezauthor_row -%}
    {{ block('form_row') }}
    {% if form.authors.vars.prototype is defined %}
        <template class="author-template">
            {{ form_row(form.authors.vars.prototype) }}
        </template>
    {% endif %}
{%- endblock ezrepoforms_fieldtype_ezauthor_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_widget -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_widget -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_row -%}
    {{- form_widget(form) -}}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_widget -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_widget -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_entry_row -%}
    {{- block('ezrepoforms_fieldtype_ezauthor_authors_entry_widget') -}}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_entry_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_entry_widget -%}
    <fieldset>
        {{- block('form_rows') -}}
        <div class="ez-author-tools">
            <button type="button" class="ez-button ez-button-secondary ez-js-remove-author">{{ 'Remove'|trans }}</button>
            <button type="button" class="ez-button ez-button-secondary ez-js-add-author">{{ 'Add'|trans }}</button>
        </div>
    </fieldset>
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_entry_widget -%}
