{% extends 'EzSystemsRepositoryFormsBundle::bootstrap_4_layout.html.twig' %}

{# Important overrides to hide labels and errors on some structural fields #}

{%- block ezrepoforms_content_field_row -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_content_field_row -%}

{%- block _ezrepoforms_user_register_fieldsData_entry_row -%}
    {% if form.children.value is defined %}
        {{- form_row(form) -}}
    {% else %}
        {%- if expanded is defined and expanded -%}
            {%- set element = 'fieldset' -%}
        {%- endif -%}
        <{{ element|default('div') }} class="form-group">
        {{- form_label(form) -}}
        <p class="non-editable">
            {{ "content.field.non_editable"|trans({}, "ezrepoforms_content") }}
        </p>
        {{- form_errors(form) -}}
        </{{ element|default('div') }}>
        {%- do field.setRendered() -%}
    {% endif %}
{%- endblock _ezrepoforms_user_register_fieldsData_entry_row -%}

{%- block _ezrepoforms_content_edit_fieldsData_widget -%}
    {% for field in form %}
        {% if field.value is defined %}
            {{- form_row(field) -}}
        {% else %}
            {%- if expanded is defined and expanded -%}
                {%- set element = 'fieldset' -%}
            {%- endif -%}
            <{{ element|default('div') }} class="form-group">
            {{- form_label(field) -}}
            <p class="non-editable">
                {{ "content.field.non_editable"|trans({}, "ezrepoforms_content") }}
            </p>
            {{- form_errors(field) -}}
            </{{ element|default('div') }}>
            {%- do field.setRendered() -%}
        {% endif %}
    {% endfor %}
{%- endblock _ezrepoforms_content_edit_fieldsData_widget -%}

{# General form theming #}

{%- block form_row -%}
    {# below variable can be used to style/change row which represents the fieldtype #}
    {% set is_fieldtype = form.parent.vars.value.fieldDefinition is defined %}
    {% set class = 'form-group' %}
    {% if is_fieldtype %}
        {% set class = class ~ ' ez-fieldtype-' ~ form.parent.vars.value.fieldDefinition.fieldTypeIdentifier %}
    {% endif %}

    {%- if expanded is defined and expanded -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    <{{ element|default('div') }} class="{{ class }}">
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock -%}

{%- block form_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control' ~ (type|default('') == 'file' ? '-file' : ''))|trim}) -%}
    {{- parent() -}}
{%- endblock -%}

{# Enrichements to default Symfony types #}

{%- block number_widget -%}
    {%- set type = type|default('number') -%}
    {{ parent() }}
{%- endblock number_widget -%}

{# ezauthor #}

{%- block ezrepoforms_fieldtype_ezauthor_row -%}
    {{ block('form_row') }}
    {% if form.authors.vars.prototype is defined %}
        <template class="author-template">
            {{ form_row(form.authors.vars.prototype) }}
        </template>
    {% endif %}
{%- endblock ezrepoforms_fieldtype_ezauthor_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_widget -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_widget -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_row -%}
    {{- form_widget(form) -}}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_widget -%}
    {{ block('form_rows') }}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_widget -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_entry_row -%}
    {{- block('ezrepoforms_fieldtype_ezauthor_authors_entry_widget') -}}
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_entry_row -%}

{%- block ezrepoforms_fieldtype_ezauthor_authors_entry_widget -%}
    <fieldset>
        {{- block('form_rows') -}}
        <div class="ez-author-tools">
            <button type="button" class="ez-button ez-button-secondary ez-js-remove-author">{{ 'Remove'|trans }}</button>
            <button type="button" class="ez-button ez-button-secondary ez-js-add-author">{{ 'Add'|trans }}</button>
        </div>
    </fieldset>
{%- endblock ezrepoforms_fieldtype_ezauthor_authors_entry_widget -%}
